.npright{
    float:right;
    width: 70%;
    height: 80vh;
}
.npleft{
    float:left;
    width: 30%;
    height: 80vh;
}
.top{
    display: flex;
}
.checktext{
    align-self: center;
    margin-left: 0.1rem;
    padding: 1rem;
}
.check{
    margin-left: 7rem;
    align-self: center;
    height: 2rem;
  width: 2rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}
label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #000;
  }
  
input {
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
  }
  .container{
    flex: 6;
      height: 95vh;
      background-color: #c1e2df;
      padding: 20px;
      
  }
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #f8f8f8;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    color: #666;
    transition: all 0.3s ease-in-out;
  }
  
  .custom-file-upload:hover {
    background-color: #f0f0f0;
    color: #333;
  }