.cart {  
    font-weight: bold;
    align-items: center;
}

h1 {
    font-weight: bold;
    text-align: center;
    color: black;
}

.cart-checkout-button {
    width: 7%;
    margin-left: 20px;
    margin-bottom: 15px;
}