.our-company {
    text-align: center;
    font-size: 14pt;
}

.what-we-do {
    text-align: center;
    font-size: 14pt;
    margin-bottom: 25px;
}

h5 {
    text-align: left;
    font-size: 16pt;
    font-weight: bold;
    margin-left: 25px;
}