/* Global styles */
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-color: #f5f5f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filters {
  width: 25%;
}

.products {
  width: 74%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* Filters section styles */
.filters .ant-card {
  border: none;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.input-container {
  margin-bottom: 16px;
}

.select-container {
  margin-bottom: 16px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

/* Products section styles */
.product-card {
  border-radius: 8px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.product-card:hover {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.product-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-brand {
  font-size: 14px;
  margin-bottom: 4px;
}

.product-type {
  font-size: 14px;
  margin-bottom: 4px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
}

.product-available {
  color: green;
  font-weight: bold;
}

.product-unavailable {
  color: red;
  font-weight: bold;
}

.product-card-wrapper {
  display: flex;
  justify-content: center;
}
