.ant-form-item-label {
  font-size: 18px;
  font-weight: bold;
}

.ant-input {
  border-radius: 4px;
}

.ant-form-item-control-input-content {
  display: flex;
  align-items: center;
}

.ant-form-item-control-input {
  flex-grow: 1;
}

.ant-form-item-control-input > .ant-input {
  width: 100%;
}

.ant-form-item-control-input-content > .anticon {
  margin-right: 8px;
}

.ant-form-item-control-input-content > .ant-input-password {
  width: 100%;
}

.ant-form-item-control-input-content > .ant-input-group-addon:last-child {
  margin-left: 0;
}

.ant-form-item-control-input-content > .ant-btn {
  margin-right: 8px;
}

.ant-form-item-control-input-content > .ant-btn:last-child {
  margin-right: 0;
}

.ant-form-item-control-input-content > .ant-btn:hover {
  color: #fff;
  background-color: #1890ff;
}

.ant-form-item-control-input-content > .ant-btn-primary:hover {
  color: #fff;
  background-color: #40a9ff;
}

.ant-btn-primary {
  background-color: #1890ff;
  border-color: #1890ff;
}

.ant-btn-primary:active,
.ant-btn-primary:focus {
  background-color: #40a9ff;
  border-color: #40a9ff;
}

.ant-btn-default {
  color: #1890ff;
  border-color: #1890ff;
}

.ant-btn-default:active,
.ant-btn-default:focus {
  color: #40a9ff;
  border-color: #40a9ff;
}
